## Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"DataScientist.csv")
df.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

## Explore

In [3]:
df.isna().sum()

Unnamed: 0           0
index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
dtype: int64

In [4]:
df.set_index("index", inplace=True)

In [5]:
df.drop("Unnamed: 0", axis=1, inplace=True)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
index,,,,,,,,,,,,,,,
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3909 entries, 0 to 4379
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          3909 non-null   object
 1   Salary Estimate    3909 non-null   object
 2   Job Description    3909 non-null   object
 3   Rating             3909 non-null   float64
 4   Company Name       3909 non-null   object
 5   Location           3909 non-null   object
 6   Headquarters       3909 non-null   object
 7   Size               3909 non-null   object
 8   Founded            3909 non-null   int64
 9   Type of ownership  3909 non-null   object
 10  Industry           3909 non-null   object
 11  Sector             3909 non-null   object
 12  Revenue            3909 non-null   object
 13  Competitors        3909 non-null   object
 14  Easy Apply         3909 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 488.6+ KB

In [7]:
df.describe()

            Rating      Founded
count  3909.000000  3909.000000
mean      3.283576  1479.154771
std       1.575749   855.750138
min      -1.000000    -1.000000
25%       3.200000  1625.000000
50%       3.700000  1976.000000
75%       4.100000  2002.000000
max       5.000000  2020.000000

In [8]:
df.isna().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
dtype: int64

In [9]:
df.duplicated().sum()

0

# Cleaning

In [10]:
new_df = df.drop(["Job Description", "Job Title", "Location"], axis=1)

# new_df["Type of ownership"].value_counts()

In [11]:
new_df.head()

,Salary Estimate,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
index,,,,,,,,,,,,
0,$111K-$181K (Glassdoor est.),3.5,Hopper\n3.5,"Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,$111K-$181K (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,$111K-$181K (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,$111K-$181K (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,$111K-$181K (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

## Salary Estimate Column

In [12]:
df["Salary Estimate"].value_counts()

Salary Estimate
$93K-$151K (Glassdoor est.)         62
$113K-$180K (Glassdoor est.)        61
$71K-$122K (Glassdoor est.)         60
$111K-$175K (Glassdoor est.)        60
$119K-$147K (Glassdoor est.)        44
                                    ..
$34-$53 Per Hour(Glassdoor est.)     7
$99K-$173K (Glassdoor est.)          6
$10-$26 Per Hour(Glassdoor est.)     3
$146K-$175K (Glassdoor est.)         3
$41K-$74K (Glassdoor est.)           1
Name: count, Length: 148, dtype: int64

In [13]:
# extract salary estimate from salary estimate column and convert it to integer
new_df[["lower_bound_salary", "upper_bound_salary"]] = new_df[
    "Salary Estimate"
].str.extract(r"\$(\d+)K-\$(\d+)K")

In [14]:
new_df.isna().sum()

Salary Estimate        0
Rating                 0
Company Name           0
Headquarters           0
Size                   0
Founded                0
Type of ownership      0
Industry               0
Sector                 0
Revenue                0
Competitors            0
Easy Apply             0
lower_bound_salary    21
upper_bound_salary    21
dtype: int64

In [15]:
filt = new_df["lower_bound_salary"].isna()
df["Salary Estimate"][filt]

index
793     $34-$53 Per Hour(Glassdoor est.)
794     $34-$53 Per Hour(Glassdoor est.)
795     $34-$53 Per Hour(Glassdoor est.)
796     $34-$53 Per Hour(Glassdoor est.)
797     $34-$53 Per Hour(Glassdoor est.)
798     $34-$53 Per Hour(Glassdoor est.)
799     $34-$53 Per Hour(Glassdoor est.)
1440    $10-$26 Per Hour(Glassdoor est.)
1441    $10-$26 Per Hour(Glassdoor est.)
1442    $10-$26 Per Hour(Glassdoor est.)
2332    $17-$27 Per Hour(Glassdoor est.)
2333    $17-$27 Per Hour(Glassdoor est.)
2334    $17-$27 Per Hour(Glassdoor est.)
2335    $17-$27 Per Hour(Glassdoor est.)
2336    $17-$27 Per Hour(Glassdoor est.)
2337    $17-$27 Per Hour(Glassdoor est.)
2338    $17-$27 Per Hour(Glassdoor est.)
2339    $17-$27 Per Hour(Glassdoor est.)
2340    $17-$27 Per Hour(Glassdoor est.)
2341    $17-$27 Per Hour(Glassdoor est.)
2342    $17-$27 Per Hour(Glassdoor est.)
Name: Salary Estimate, dtype: object

In [16]:
filt = new_df["Salary Estimate"].str.contains("Per Hour")
new_df["Salary Estimate"].replace(" Per Hour", "", regex=True, inplace=True)

In [17]:
SalaryPerHour = (
    new_df.loc[filt, "Salary Estimate"].str.extract(r"\$(\d+)-\$(\d+)").astype(int)
)

In [18]:
new_df.loc[filt, "lower_bound_salary"] = SalaryPerHour[0] * 2000
new_df.loc[filt, "upper_bound_salary"] = SalaryPerHour[1].astype(int) * 2000


new_df.isna().sum()

Salary Estimate       0
Rating                0
Company Name          0
Headquarters          0
Size                  0
Founded               0
Type of ownership     0
Industry              0
Sector                0
Revenue               0
Competitors           0
Easy Apply            0
lower_bound_salary    0
upper_bound_salary    0
dtype: int64

In [19]:
new_df["lower_bound_salary"] = new_df["lower_bound_salary"].astype(int)
new_df["upper_bound_salary"] = new_df["upper_bound_salary"].astype(int)
# new_df.info()

In [20]:
new_df = new_df.drop("Salary Estimate", axis=1)

## Rating

In [21]:
new_df["Rating"].describe()

count    3909.000000
mean        3.283576
std         1.575749
min        -1.000000
25%         3.200000
50%         3.700000
75%         4.100000
max         5.000000
Name: Rating, dtype: float64

In [22]:
mean_rating = new_df["Rating"].mean().__round__(2)
new_df["Rating"].replace(-1.0, mean_rating, inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9664\974952602.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Rating"].replace(-1.0, mean_rating, inplace=True)

## Company Name

In [23]:
new_df["Company Name"]

index
0                                 Hopper\n3.5
1                                Noom US\n4.5
2                                    Decode_M
3                       Sapphire Digital\n3.4
4             United Entertainment Group\n3.4
                        ...
4375                Tachyon Technologies\n4.4
4376    Staffigo Technical Services, LLC\n5.0
4377                      PDS Tech, Inc.\n3.8
4378          Data Resource Technologies\n4.0
4379                                 UCB\n3.7
Name: Company Name, Length: 3909, dtype: object

In [24]:
new_df["Company Name"] = (
    new_df["Company Name"].str.strip().replace("\n", "", regex=True)
)

In [25]:
# remove the numbers in company name
new_df["Company Name"] = new_df["Company Name"].str.replace(r"[\d.]+", "", regex=True)
new_df["Company Name"]

index
0                                 Hopper
1                                Noom US
2                               Decode_M
3                       Sapphire Digital
4             United Entertainment Group
                      ...
4375                Tachyon Technologies
4376    Staffigo Technical Services, LLC
4377                       PDS Tech, Inc
4378          Data Resource Technologies
4379                                 UCB
Name: Company Name, Length: 3909, dtype: object

## Headquarters

In [26]:
new_df["Headquarters"].value_counts()

Headquarters
New York, NY               297
-1                         240
San Diego, CA              179
Chicago, IL                158
Austin, TX                 106
                          ...
West Conshohocken, PA        1
Phila, PA                    1
Ruislip, United Kingdom      1
Whippany, NJ                 1
Andover, MA                  1
Name: count, Length: 543, dtype: int64

In [27]:
new_df["Headquarters"].mode()

0    New York, NY
Name: Headquarters, dtype: object

In [28]:
new_df["Headquarters"] = new_df["Headquarters"].str.replace(
    r"-[\d.]+", "New York, NY", regex=True
)

Founded

In [29]:
new_df["Founded"].value_counts()

Founded
-1       977
 1999    110
 2002    100
 2004     91
 2015     90
        ...
 1824      1
 1917      1
 1901      1
 1928      1
 1866      1
Name: count, Length: 173, dtype: int64

In [30]:
new_df["Founded"].replace(-1, "Unknown", inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9664\2992692232.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Founded"].replace(-1, "Unknown", inplace=True)

Types of Ownership

In [31]:
new_df["Type of ownership"].value_counts()

Type of ownership
Company - Private                 1933
Company - Public                  1114
-1                                 229
Nonprofit Organization             207
Subsidiary or Business Segment     160
Government                          91
College / University                77
Unknown                             38
Contract                            17
Hospital                            16
Private Practice / Firm             12
School / School District             5
Other Organization                   5
Self-employed                        4
Franchise                            1
Name: count, dtype: int64

In [32]:
new_df["Type of ownership"].replace(
    ["-1", "Unknown"], "Other Organization", inplace=True
)

C:\Users\dell\AppData\Local\Temp\ipykernel_9664\1178702283.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Type of ownership"].replace(

Industry

In [33]:
new_df["Industry"].value_counts()

Industry
-1                                      546
IT Services                             472
Staffing & Outsourcing                  313
Biotech & Pharmaceuticals               293
Computer Hardware & Software            264
                                       ...
Commercial Equipment Rental               1
Metals Brokers                            1
Truck Rental & Leasing                    1
Beauty & Personal Accessories Stores      1
Auto Repair & Maintenance                 1
Name: count, Length: 96, dtype: int64

In [34]:
new_df["Industry"].replace("-1", "Unknown", inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9664\3817918694.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Industry"].replace("-1", "Unknown", inplace=True)

Easy Apply

In [35]:
new_df["Easy Apply"].value_counts()

Easy Apply
-1      3745
True     164
Name: count, dtype: int64

In [36]:
new_df["Easy Apply"].replace("-1", False, inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9664\730631260.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Easy Apply"].replace("-1", False, inplace=True)

Sector

In [37]:
new_df["Sector"].value_counts()

Sector
Information Technology                1124
Business Services                      679
-1                                     546
Biotech & Pharmaceuticals              293
Finance                                270
Health Care                            197
Insurance                              109
Education                              101
Manufacturing                           87
Government                              82
Media                                   75
Retail                                  72
Accounting & Legal                      71
Aerospace & Defense                     37
Oil, Gas, Energy & Utilities            34
Telecommunications                      21
Consumer Services                       20
Non-Profit                              18
Construction, Repair & Maintenance      16
Transportation & Logistics              16
Real Estate                             12
Arts, Entertainment & Recreation        10
Restaurants, Bars & Food Services        9
Agriculture & Forestry                   5
Travel & Tourism                         4
Mining & Metals                          1
Name: count, dtype: int64

In [38]:
new_df["Sector"].replace("-1", "Unknown", inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9664\3039478244.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Sector"].replace("-1", "Unknown", inplace=True)

Competitors

In [39]:
new_df["Competitors"].value_counts()

Competitors
-1                                                     2760
Amazon, Accenture, Microsoft                             61
Google, Microsoft, Samsung Electronics                   60
Google, Microsoft, Walmart                               47
Google, Microsoft, Apple                                 25
                                                       ...
Compass Lexecon, Navigant, Charles River Associates       1
DP Electric, Helix Electric, Wilson Electric              1
Harris, Gogo, Inmarsat                                    1
TEKsystems, Aerotek                                       1
Robert Half, Kforce                                       1
Name: count, Length: 422, dtype: int64

In [40]:
new_df["Competitors"].replace("-1", "None", inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9664\1953098530.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Competitors"].replace("-1", "None", inplace=True)

Revenue

In [41]:
new_df["Revenue"].value_counts()

Revenue
Unknown / Non-Applicable            1163
$10+ billion (USD)                   599
$100 to $500 million (USD)           338
-1                                   229
$50 to $100 million (USD)            214
$2 to $5 billion (USD)               211
$10 to $25 million (USD)             191
$1 to $2 billion (USD)               180
$1 to $5 million (USD)               170
$25 to $50 million (USD)             143
$5 to $10 billion (USD)              133
Less than $1 million (USD)           124
$500 million to $1 billion (USD)     114
$5 to $10 million (USD)              100
Name: count, dtype: int64

In [42]:
new_df["Revenue"].replace("-1", "Unknown / Non-Applicable", inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9664\501045497.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["Revenue"].replace("-1", "Unknown / Non-Applicable", inplace=True)